<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mkr.hellgame.hell"/>

    <bean class="com.mkr.hellgame.infrastructure.impl.OneActiveJobRunStrategy">
    </bean>

    <bean class="com.mkr.hellgame.infrastructure.impl.SpringExecutorConfigurationFactory" autowire="byType">
        <property name="executorGranularity" value="1000" />
    </bean>

    <!--<bean class="com.mkr.hellgame.infrastructure.impl.ClassPathXmlExecutorConfigurationFactory">
        <constructor-arg name="configLocation" value="executorConfig.xml" />
    </bean>-->

    <bean class="com.mkr.hellgame.infrastructure.impl.OneTimeTrigger">
        <property name="job" ref="hellJob" />
    </bean>

    <bean class="com.mkr.hellgame.infrastructure.impl.IntervalTrigger">
        <property name="interval" value="5000" />
        <property name="job" ref="hellJob" />
    </bean>

    <bean class="com.mkr.hellgame.infrastructure.impl.IntervalTrigger">
        <property name="interval" value="10000" />
        <property name="job" ref="hellJob" />
    </bean>

    <bean class="com.mkr.hellgame.infrastructure.annotation.LoggableAnnotationBeanPostProcessor" />

</beans>